

   .App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }
  
  .sidecont{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: lightgray;
    width: 100%;
  }
 

  
   
  
  
 